# Database Configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5432/scheduling_dev
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=scheduling_dev

# Phoenix Server
PORT=4000
PHX_HOST=localhost

# Secret Key Base (generated automatically by `make setup.env`)
SECRET_KEY_BASE=
